* text=auto

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.uasset binary
*.umap binary
*.ubulk binary
*.uexp binary
*.ufont binary
*.png binary
*.jpg binary
*.jpeg binary
*.wav binary
*.mp3 binary
*.ogg binary
*.fbx binary

